*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --primary-color: #293264;
    --button-background: #4D5B9E;
}

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    background: #F5F7FB;
}

/* Typography & Button */

h1, p {
    margin: 0;
    color: var(--primary-color)
}

button {
    font-family: inherit;
    border: none;
}

button:active{
    box-shadow: inset 0px 0px 5px #2b2b2b;
}

/* App */

.appContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.blobOne{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.blobTwo{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Loading [from cssloaders.github.io] */

.loader {
    caret-color: transparent;
    width: 48px;
    height: 48px;
    border: 3px solid rgb(165, 161, 182);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  } 
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: var(--primary-color);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* Menu */

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    border-radius: 25px;
    height: calc(35vh);
    width: calc(35vh);
    background: lavender;
}

.menuContainer h1 {
    z-index: 1;
    font-size: 1.953125rem;
}

.menuContainer p {
    z-index: 1;
    font-weight: 500;
    margin: 0.4375em 0 1.8125em 0;
}

/* Category */

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: 0;
}

#categories, #difficulties, #types{
    text-align: center;
    border-radius: 10px;
    background-color: #D6DBF5;
    width: 10rem;
    border: none;
    padding: 5px;
}

form > button, #submit {
    background: var(--button-background);
    border-radius: 15px;
    color: #F5F7FB;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.9375rem 3.4375rem;
    cursor: pointer;
}

select::-webkit-scrollbar{
    width: 10px;
}

select::-webkit-scrollbar-track {
    /* background-color: #FDFFFC; */
    border-radius: 100px;
  }
  
select::-webkit-scrollbar-thumb {
    background-color: var(--button-background);
    border-radius: 100px;
  }

/* Question Container */
.questionContainer{
    height: 95vh;
    width: 750px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.question {
    padding-bottom: .5em;
    padding-top: .5em;
    border-bottom: .85px solid #b5b7c4;
}

.question p {
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 11px;
}

.question-btns{
    font: 0.625rem;
    display: flex;
    gap: 12px;
}

.question-btns > button {
    cursor: pointer;
    width: 100%;
    color: var(--primary-color);
    font-weight: 500;
    border: 0.7px solid #4D5B9E;
    border-radius: 7.7px;
    background: #F5F7FB;
    padding: 3px 10px;
}

#submit {
    margin-top: 10px;
    align-self: center;
}

button:disabled{
    box-shadow: none;
    cursor: not-allowed;
}

@media(max-width: 728px){
    .questionContainer{
        width: 100%;
        padding: 0 .2rem;
    }
    #submit{
        padding: 0.5rem;
    }
    .blobTwo{
        display: none;
    }
    .question-btns{
        flex-wrap: wrap;
    }
}